.container-content {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.searchResult {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}

.resultHint {
  width: 100%;
  padding: 1rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid teal;
}

.select-list {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

#num-select {
  margin-left: 10px;
}

.result-detail {
  margin: 10px auto;
  display: flex;
  width: 92.5%;
  overflow-y: auto;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  margin: 1rem;
  height: 220px;
  width: 125px;
  padding: 10px;
  border: 1px solid rgba(165, 164, 164, 0.671);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;

  flex-direction: column;
  justify-content: space-between;
}

.artistName {
  margin: 0;
  text-align: left;
  font-size: medium;
}

.collectionName {
  margin: 0;
  color: rgba(165, 164, 164, 0.671);
  font-size: small;
  text-align: left;
}

.btn-like {
  border: none;
  outline: none;
  background-color: white;
}