body {
  background-color: #f8f9f0;
  margin: 0;
}

@font-face {
  font-family: "Agrandir Regular";
  src: url("./fonts/Agrandir/Agrandir-Regular.otf");
}
@font-face {
  font-family: "Agrandir Heavy";
  src: url("./fonts//Agrandir/Agrandir-GrandHeavy.otf");
}
@font-face {
  font-family: "Agrandir Light";
  src: url("./fonts/Agrandir/Agrandir-GrandLight.otf");
}

h1 {
  font-family: "Agrandir Heavy";
  font-weight: 700;
  font-size: 250%;
}
h2 {
  font-family: "Agrandir Heavy";
  font-weight: 500;
}
body {
  font-family: "Agrandir Regular";
}
.title {
  text-align: center;
}
div.post_body {
  padding: 0 20% 0 20%;
  font-size: 140%;
}
div.post_body img {
  width: 50%;
  text-align: center;
}
div.post_title {
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 20vh; */
  vertical-align: text-bottom;
}
div.post_title h2 {
  color: white;
  mix-blend-mode: difference;
  padding-top: 20vh;
  margin: 2%;
  font-size: 250%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  text-decoration: none;
  color: black;
}
div.blog_post_card {
  border: 1px solid rgba(88, 87, 87, 0.5);
  border-radius: 15px;
  margin: 2.5%;
}
div.blog_post_card {
  width: 40%;
  display: inline-block;
  text-align: center;
}

div.blog_post_card img {
  width: 75%;
}

div.posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  font-size: 100%;
}
div.more {
  text-align: center;
}
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #f8f9f0;
}
footer {
  background-color: black;
  color: #f8f9f0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 5vh;
  margin-top: 3vh;
}
footer a {
  padding: 0 5% 0 5%;
  color: #f8f9f0;
}
