body {
    margin: 0;
	padding: 0;
	font-family: "sans-serif";
	background-size:cover;
	background-position: center;
  }

  header {
    padding: 1% 14% 1% 14%;
    display:flex;
    align-items: center;
    
  }
  .header-subscribe {
    height: 100%;
    width: 20%;
    text-align: left;
}

.header-title {
    height: 100%;
    width: 60%;
    text-align: center;
    text-decoration: underline;
}

.header-search {
    height: 100%;
    width: 20%;
    text-align: end;
}
.content {
    padding: 1% 14% 5% 14%;
 
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
}

.box{
    border: 5px groove;
    width: 45%;
    margin: 20px;
}
.box_topic {
    font-family: "sans-serif";
    color: rgba(22, 80, 173, 0.7);
    font-size: 10px;
}
.box_title {
    font-size: 20px;
    font-family: "sans-serif";
}
.box_date {
    font-family: "sans-serif";
    color: rgb(140,141,143);
    font-size: 10px;
}

footer {
    padding: 1% 14% 1% 14%;
    background-color: rgb(249,249,249);
    text-align: center;
    
  }

