*{
    margin:0;
    padding:0;
    width: 100%;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100%;
}
.container{
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas: 
    'header'
    'content'
    'footer';
    grid-template-rows: 50px 1fr 100px;
    padding-left: 15%;
    padding-right: 15%;
}
.header{
    display: flex;
    grid-area: header;
}
.header-box1{
    text-decoration: underline;
    flex:1
}
.header-box2{
    text-decoration: underline;
    text-align: center;
    flex:2
}
.header-box3{
    text-align: end;
    flex:1
}
.header-box3 img{
    width: 5%;
}
.content{
    grid-area: content;
    display: flex;
    flex-direction: column;
}
.content-row{
    display: flex;
    margin-bottom: 3%;
}
.card1 , .card2{
    flex:1;
    height:300px;
    padding:2%;
    position: relative;
    border: 3px solid rgb(160, 160, 160);
}
.card1{
    margin-right: 1%;
}
.card1 p:nth-child(1){
    color: blue;
    margin-bottom:5%;
}

.card2 p:nth-child(1){
    color: green;
    margin-bottom:5%;
}
.card1 p:nth-child(3), .card2 p:nth-child(3){
    color: rgb(160, 160, 160);
    margin-bottom:5%;
}
.card1 p:nth-child(4), .card2 p:nth-child(4){
    margin-bottom:5%;
}
.card1 a, .card2 a{
    position:absolute;
    bottom:5%;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    grid-area: footer;
    line-height:200%;
    background-color: rgb(160, 160, 160);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /*Mobile Device Screens*/
    p{
        font-size: 2vw;
    }
    h1{
        font-size:2vw;
    }
    .card1 , .card2{
        height:200px;
    }
    .container{
        grid-template-rows: 25px 1fr 50px;
    }
    a{
        font-size:2vw;
    }
    .header-box3 img{
        width: 10%;
    }
    .footer{
        line-height:100%;
    }
  }