*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sign-up-container{
    max-width: 700px;
    width: 100%;
    
}

h1{
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #393939;
}

.sign-up-form{
    box-sizing: border-box;
    width: 100%;
}

input{
    border-radius: 5px;
    font-size: large;
    border: 1px solid #ccc;
    height: 55px;
}
::placeholder{
    color: #ccc;
}

.form-row{
    display: flex;
    padding: 10px;
}

input.form-item1, input.form-item2, input.form-item6, input.form-item5, .Register, .sign-in{
    display: inline-block;
    width: 50%;
    padding: 10px;
    
}

input.form-item1, input.form-item5, .Register {
    margin: 0 20px 0 0;
}

input.form-item3, input.form-item4{
    width: 100%;
    padding: 10px;
}

.terms{
    color: #606060;
}

.Register, .sign-in {
    height: 70px;
    margin: 0;
}

.Register input , .sign-in input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: large;
  
}
span.register {
    border-radius: 5px;
    border-width: 10px;
    padding: 5px;
    color: #fff;
    font-size: 12px;
}

.Register input, span.register {
    background-color: #4890cd;
}

.sign-in input {
    background-color: #62bc62;
}

.term-link{
    text-decoration: none;
    color: #79aeda;
}

.agree-checkbox label, .agree-checkbox input{
    display: inline-block;
    vertical-align: middle;
}

.agree-checkbox{
    width: 20%;
    float: left;
}

.terms{
    width: 70%;
    float: right;
}
