*{
    font-family: sans-serif;
}

header{
    background-color: black;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px;
    color:white;
    height: 50px;
}

.menu ul{
    display: flex;
    flex-direction: row;
}

.menu a{
    color:white;
    text-decoration: none;
}



nav{
    background-color: #c6bfbf;
    padding:20px 100px;
}

article{
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
}
.article-container p{
    padding:10px;
}

footer{
    background-color: #0b4d14;
}