body{
    margin:0;
}

menu{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: #000;
    color: white;
    margin:0;
    height: 50px;
}

footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: #0b4d14;
    color:white;
    margin:0;
    height: 50px;
    display:grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    
}

content{
    position: fixed;
    bottom:50px;
    top:50px;
    width:100%;
    margin:0;
    display: grid;
    grid-template-rows: 30% 70%;
}

ul > li{
    display: inline-block;
    margin-left: 10px;
}

.header{
    margin-left: 100px;
    margin-right: 100px;
}

#content-text{
    margin: 10px 100px 200px 100px;
    column-count:3;
    column-gap: 40px;
}

#content-header{
    background-color: #c6bfbf;
    margin:0;
}

#content{
    background-color: white;
    margin:0;
}

#contact-footer{
    justify-self: center;
}
