.header {
    background-color: #283593;
    padding: 10px;
    z-index: -1;
}

.header {
    width: 100%;
}
i {
    color: white;
}

img {
    width: 100px;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    margin: 10px auto;
    width: 75%;
}
