.header {
    background-color: #283593;
    padding: 10px;
    z-index: -1;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}
i {
    color: white;
    margin: 5px;
}
nav {
    display: flex;
    align-items: baseline;
}
form {
    margin: 0 auto;
    display: flex;
}
main {
    text-align: center;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    margin: 10px auto;
    width: 75%;
}
