<header class="header">
    <nav class="navigation">
        <form action="" (submit)="logInput($event)">
            <input
                type="text"
                id="search-input"
                name="search"
                class="search-input"
                aria-label="Search"
                [(ngModel)]="input"
                autocomplete="off"
            />
        </form>
        <i class="material-icons">search</i>
    </nav>
</header>
<main>
    <div *ngIf="count && albums">
        <header>
            Total results {{ count }} found for "{{ artist }}"
        </header>

        <div class="grid">
            <div class="card" *ngFor="let album of albums">
                <div class="card-header">
                    {{ album.artistName }}
                    <hr />
                    <p>{{ album.collectionName }}</p>
                </div>
                <div class="card-body">
                    <img
                        class="card-img-top img"
                        src="{{ album.artworkUrl100 }}"
                        alt="Card image top"
                    />
                </div>

                <div class="card-footer">
                    <button>Like</button>
                    <button>Dislike</button>
                </div>
            </div>
        </div>
    </div>
</main>
