body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sign-up-form {
    width: 450px;
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.name, .mobile-box, .email-box, .password, .agreement, .button {
    display: block;
    margin: 0 auto 5px;
    width: 442px;
    height: 35px;
}

.name, .password, .agreement, .button {
    margin: 0 0 5px;
    width: 450px;
}

.agreement {
    height:40px;
}

.inp {
    height: 35px;
    font-size: medium;
}


.btn {
    height: 41px;
    font-size: medium;
    border-radius: 0.8rem;
    border: 0;
    color: white;
}



.name-box, .password-box,.signup-btn {
    display:inline-block;
    width: 205px;
}

.left {
    float:left;
    margin: 0 auto 5px;
}

.right {
    float:right;
    margin: 0 auto 5px;
}


.check-box, .term {
    display: inline-block;
    font-size: smaller;
    text-align: left;
}

.check-box{
    font-weight: bold;
}

.term {
    max-width: 350px;
}

.btn.left {
    background-color: #008CBA;
}

.btn.right {
    background-color: #4CAF50;
}

.span1 {
    background-color: #008CBA;
    color: white;
    border-radius: 0.2rem;
    font-size: x-small;
}

.span2 {
    color: #008CBA;
}