.reactive-form {
    width: 90%;
    margin: 10px auto;
}

.reactive-form h1 {
    text-align: center;
    color: rgb(102, 92, 34);
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.reactive-form input{
    margin-top: 5px; padding: 5px;
    border-style: solid;
    border-color: rgb(211, 206, 206);
    border-width: thin;
}

button:hover{
    cursor: pointer;
}

.reactive-form button {
    padding: 5px; margin-top: 10px;
    background-color: rgb(5, 150, 5);
    color: white;
    border-style: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 5px;
    border-style: solid; border-width: thin;
    display: flex; justify-content: space-evenly;
}
.alert-danger{
    text-align: center;
    padding: 5px;
    color: rgb(155, 6, 6);
    background-color: rgb(241, 175, 216);
}
b {
    color: blue;
}