@import "header.css";
@import "footer.css";
@import "post_body.css";

*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}

