* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14pt;
}

ul {
  list-style-type: none;
}

.grid-container {
  display: grid;
}

.search-bar__wrapper {
  grid-template-rows: 1rem auto 1rem;
  grid-template-columns: auto 50vh auto;
}

.search-bar__box {
  /* position: relative; */
  /* left: 50%; */
  /* right: 50%; */
  grid-row: 2/3;
  grid-column: 2/3;
  height: 2rem;
  /* width: 40vh; */
  /* min-width: 10rem; */
  border: 2px solid green;
}

.result-info__wrapper {
  grid-template-rows: 1rem auto 1rem;
  grid-template-columns: auto 50vh auto;
}

.result-info__text {
  grid-row: 2/3;
  grid-column: 2/3;
  height: 2rem;
  text-align: center;
  /* text-justify: center; */
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.result-gallery__list {
  grid-column: 2/3;
  grid-template-columns: repeat(7, 1fr);
}

.result-gallery__wrapper {
  grid-template-columns: 5rem 1fr 5rem;
}