body {
    margin: 0;
    padding: 0;
}
.container {
}
.container_header {
    background-color: teal;
    height: 60px;
    display: flex;
    align-items: center;
}
.search_bar {
    border-radius: 25px;
    border-style: none;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
