*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
}
body{
    background-color: rgba(188, 143, 143, 0.486);
}
h1{
    text-align: center;
    margin-top: 50px;
}
#form{
    max-width: 300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 30px;
}
input[type="text"]{
    width: 100%;
    padding: 7px 20px;
    outline: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 50px;
}
#search-icon{
    padding: 7px;
    border-radius: 50px;
    border: none;
    margin-left: -30px;
    outline: none;
    cursor: pointer;
    background: none;
}
#search-icon i{
    color: rgb(110, 110, 110);
}
#results-qty{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.results{
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.card{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px;
    background: rgb(233, 224, 224);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
}