:root{
    --height-header: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: Arial,sans-serif;
    line-height: 1.4;
    min-width: 320px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    font-size:1.6rem;
}

.header{
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 4rem;
    width: 100%;
    background-color: teal;
}
.search{
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-input {
    background-color: #f0eeee;
    border: none;
    padding: .4rem 2rem;
    border-radius: 100px;
    width: 80%;
    transition: all .2s;
    margin-right: -2rem;
}
.search-button {
    border: none;
    background-color: #f0eeee;
}
svg {
    height: 1.3rem;
    width: 1.3rem;
    padding-top: 0.2rem;
    fill: #777;
}

.search-results{
    width: 80%;
    margin: auto;
    padding: 1rem;

}

#results-count {
    width: 90%;
    padding: 0.5rem;
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid teal;
    margin: auto auto 1rem;
    
}

.card-grounp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: #f0eeee;
    border: 1px solid teal;
    flex: 0 0 8%;
    border-radius: 3px;
    margin: 0.7rem;
    display: flex;
    align-items: center;    
    flex-direction: column;
    overflow: hidden;
}
.card-img {
    width: 90%;
    padding:0.5rem;
}

.card-title {
    color: #333;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 0.2rem;
}