:root{
    --height-header: 60px;
    --color-blue: rgb(0,128,128);
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.app-header {
    height: 80px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.content header{
    text-align: center;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 25px;
    color: gray;
    border-bottom-style: solid ;
    border-bottom-width: thin;
    border-bottom-color:var(--color-blue);
}

form{
    padding: 5px;
    border-radius: 15px;
    background-color: white;
    padding:  5px 15px;
}
#search_form button{
    border-style: none;
    background-color: white;
    font-size: 18px;
}
#search_input, #search_input:focus{
    border-style: none;
    outline-width: 0px;
}

.results{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto
}
.album{
    width: 200px;
    text-align: center;
    border-style: solid;
    border-color: var(--color-blue);
    border-width: thin;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}
.album img{
    height: 180px;
}
.album h2{
    font-size: 18px;
}