<main id="container" class="p-5">
  <h2 class="text-center my-0">Welcome to Reactive Forms!</h2>
  <form class="mt-3" [formGroup]="userForms" (ngSubmit)="onSubmit()">
    <div class="form-group my-0">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control my-0"
        id="name"
        formControlName="name"
      />
      <p
        class="text-danger my-1"
        *ngIf="name.touched && name.hasError('required')"
      >
        Name is Required!
      </p>
      <label for="contact" class="mt-3">Contact:</label>
      <input
        type="tel"
        class="form-control my-0"
        id="contact"
        formControlName="contact"
      />
      <p
        class="text-danger my-1"
        *ngIf="contact.touched && contact.hasError('required')"
      >
        Contact is Required!
      </p>
      <p
        class="text-danger my-1"
        *ngIf="contact.touched && contact.hasError('pattern')"
      >
        Contact Pattern Invalid!
      </p>
      <label for="email" class="mt-3">Email:</label>
      <input
        type="email"
        class="form-control my-0"
        id="email"
        formControlName="email"
      />
      <p
        class="text-danger my-1"
        *ngIf="email.touched && email.hasError('required')"
      >
        Email Required!
      </p>
      <p
        class="text-danger my-1"
        *ngIf="email.touched && email.hasError('email')"
      >
        Email Invalid!
      </p>
      <label for="password" class="mt-3">Password:</label>
      <input
        type="password"
        class="form-control my-0"
        id="password"
        formControlName="password"
      />
      <p
        class="text-danger my-1"
        *ngIf="password.touched && password.hasError('required')"
      >
        Password Required!
      </p>
      <p
        class="text-danger my-1"
        *ngIf="password.touched && password.hasError('minlength')"
      >
        Password Must be 8 Characters Long or More!
      </p>
      <label for="confirm-password" class="mt-3">Confirm Password:</label>
      <input
        type="password"
        class="form-control my-0"
        id="confirm-password"
        formControlName="cfp"
      />
      <p
        class="text-danger my-1"
        *ngIf="cfp.touched && cfp.hasError('required')"
      >
        Confirm Password Required!
      </p>
      <p
        class="text-danger my-1"
        *ngIf="
          cfp.touched &&
          !cfp.hasError('required') &&
          userForms.hasError('mismatch')
        "
      >
        Password Not Match!
      </p>
    </div>
    <button
      type="submit"
      class="btn btn-success mt-3"
      [disabled]="userForms.invalid"
    >
      Add User
    </button>
  </form>
  <div id="result" class="mt-3">
    <p class="my-0 pl-3" *ngFor="let user of users">
      <b>Name: </b>{{ user.name }} &nbsp; <b>Contact: </b
      >{{ user.contact }} &nbsp; <b>Email: </b>{{ user.email }} &nbsp;
      <b>Password: </b>{{ user.password }}
    </p>
  </div>
</main>
