body {
  font-family: pragmatica, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000;
  font-size: 1.25rem;
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #000;
  color: #fff;
  position: relative;
  top: 0;
}
header {
  padding: 1% 12% 1% 12%;
}
footer {
  padding: 1% 7.5% 1% 7.5%;
}

div.content {
  padding: 1% 10% 1% 10%;
}
div.subtitle {
  background-color: #c6bfbf;
  color: #000;

  padding: 1% 10% 2% 10%;
}
.subtitle h1 {
  font-size: 3rem;
  font-weight: 600;
  padding: 2rem 0 2rem 0;
}
footer {
  background-color: #0b4d14;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 85%;
}

header a,
footer a {
  color: #fff;
  text-decoration: none;
}
header li,
footer li,
ul {
  display: inline-block;
}
li {
  margin-left: 2.5%;
  line-height: 1rem;
}
ul {
  width: 45%;
}
ul.social {
  float: right;
  text-align: right;
}
.content {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  line-height: 1.15em;
}

@media (max-width: 600px) {
  .content {
    display: grid;
    grid-row-gap: 2%;
  }
}
