<section class="search-results">
    <div id="results-count" [hidden]="isSearching"> Please type the artist name</div>
    <div id="results-count" [hidden]="!isSearching">
        Totally {{count}} results for {{artistName}}
        <span class="space">|</span> Select Page Size: <span><select class="PageSize" [(ngModel)]="size"
                (change)="onPageSize()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
            </select></span>
    </div>
    <div class="card-grounp">
        <div class="card" *ngFor="let album of albums">
            <div class="infor">
                <div class="card-title">
                    {{album.artistName}}
                </div>
                <div class="card-name">
                    {{album.collectionName}}
                </div>
            </div>
            <img src="{{album.artworkUrl100}}" alt="" class='card-img'>
            <div class="like">
                <a href="" class="l">LIKE</a>
                <a href="" class="d">DISLIKE</a>
            </div>

        </div>
    </div>
</section>