*{
    box-sizing: border-box;
    margin: 0;
}
.container, h1{
    padding-left: 40px;
    padding-top: 20px;
}
.container{
    display: flex;
}
input{
    width: 400px;
}
button{
    width: 90px;
}
.col-auto{
    padding-left: 0px;
    padding-right: 40px;
}