* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  background-color: #f0eeee;
}

.card {
  text-align: center;
  background-color: #f0eeee;
  border: 1px solid teal;
  border-radius: 3px;
  width: 10%;
  height: 15%;
  float: left;
  margin: 0.3%;
  font-size: 0.6rem;
  padding: 0;
}

.card__content {
  color: #333;
  padding: 0 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.container_header {
  background-color: teal;
  padding: 20px;
  text-align: center;
  justify-content: center;
}

#info {
  margin: 30px 20%;
  text-align: center;
  justify-content: center;
  border-bottom: 2px solid #333;
  padding: 10px;
}

#search__input {
  background-color: #f0eeee;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 40%;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

#search__input:focus {
  border: none;
  width: 50%;
}

.search_button {
  border: none;
}

.mat-select {
  width: 20%;
}

// #option {
//   width: 20%;
// }
