* {
    font-family: "Helvetica", sans-serif;
}

input {
    padding: 5px;
    width: 400px;
    margin-right: 20px;
    border-radius: 3px;
    border: 1px solid#c7c7c7;
}
button {
    background-color: green;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 5px 15px;
}

.flex {
    display: flex;
}
