<head>
    <title>Notes I keep</title>
    {{!-- Css Reset --}}
    <link rel-="stylesheet" type="text/css" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <header>
        <h1>Notes I Keep</h1>
    </header>

    {{{body}}}
</body>