.home-page h1{
    text-align: center;
}
h2{
    margin-top: 5px;
}

.row{
    /* border: 1px solid blue; */
    margin: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.row:last-child{
    margin-bottom: 0;
}
.blog-box{
    border: 2px solid rgba(92, 92, 92, 0.2);
    border-radius: 3px;
    width: 48%;
    padding: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
    position: relative;
}
.read-more{
    position: absolute;
    margin-top: 10px;
    bottom: 10px;
    color: rgb(118, 141, 189);
    font-weight: 700;
}
.blog-box p{
    margin-bottom: 20px;
    margin-top: 5px;
}
.style-design{
    color: rgb(117, 175, 117);
}
.style-world{
    color: rgb(88, 120, 187);
}

footer{
    background-color: #f1f1f1;
    height: 100px;
    margin-top: 100px;
    border-top: 2px solid #b6b6b6bb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer > a{
    margin-top: 10px;
}
