<div class="container">
  <div class="row">
    <div class="col-md-12" [ngStyle]="{'margin': '30px'}">
      <!-- <app-templateforms></app-templateforms> -->

      <!-- Reactive forms using FormGroup FormControl -->
      <!-- <app-reactiveforms></app-reactiveforms> -->

      <!-- Reactive forms using Reactive Forms builder -->
      <!-- <app-reactiveformbuilder></app-reactiveformbuilder> -->

      <!-- Reactive forms using Reactive Forms array -->
      <!-- <app-reactiveformarray></app-reactiveformarray> -->

      <!-- Pipes -->
      <app-pipes></app-pipes>

      
    </div>
  </div>
</div>