.input-section {
    height: 30px;
}

input, button {
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
}

input {
    width: 50%;
}

button,
button:hover {
    background: green;
    color: white;
    width: 60px;
}

button:hover {
    background: lightgreen;
}