* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__wrapper {

}

.card__category {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card__date {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gray {
  color: grey;
}

.blue {
  color: rgb(24, 110, 240)
}

.a {

}

