.main-ctn {
    margin: 1em;
}
section.about {
    background-color: hsl(0, 0%, 97%);
}
.about,
.archives,
.elsewhere {
    padding: 1.25rem;
}
h3.side-heading {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.blog-post-title,
.blog-post-heading-2,
.blog-post-sub-heading {
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0;
}
.blog-post-heading-2 {
    font-size: 1.75rem;
}
.blog-post-sub-heading {
    font-size: 1.35rem;
}

.blog-post-date {
    color: hsla(0, 0%, 38%, 40%);
}
.blog-post a,
.side-list a {
    text-decoration: none;
    color: hsla(217, 90%, 45%, 70%);
}
.blog-post p {
    margin: 1rem auto;
}

hr {
    border: none;
    border-top: 3px solid hsla(0, 0%, 38%, 10%);
}
.outlined-text,
.code-block {
    padding: 3px;
    border: 3px solid hsla(0, 0%, 68%, 0.8);
}
code.code-block {
    font-family: monospace;
    font-weight: 600;
    font-size: small;
}
strong {
    font-weight: bold;
}
.blog-list-ul,
.blog-list-ol {
    margin-left: 10%;
    padding: 5px;
    list-style-type: disc;
}
.blog-list-ol {
    list-style-type: decimal;
}
.blog-list-ol li,
.blog-list-ul li {
    padding: 2px;
}

.blog-controls {
    margin: 4rem auto;
}
.older-post-btn,
.newer-post-btn {
    display: inline-block;
    border: 3px solid hsla(217, 90%, 45%, 70%);
    color: hsla(217, 90%, 45%, 70%);
    background-color: transparent;
    border-radius: 40px;
    padding: 0.8rem;
}
.newer-post-btn {
    border: 3px solid hsla(0, 0%, 68%, 0.8);
    color: hsla(0, 0%, 68%, 0.8);
}

@media screen and (min-width: 720px) {
    .main-grid {
        display: flex;
        gap: 2rem;
        grid-template-columns: minmax(200px, 70%) 1fr;
    }
    .main-ctn {
        width: 70%;
        margin: 2rem auto;
    }
}
