.card-header {
  margin: 0px;
}
.row{
  width:100%;
  align-self:center;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  div.col-4 {
      text-align: center;
      display: inline;
      margin:0;
      padding:0;
      div{
        display:flex;
        justify-content: space-around;
      }
  }
}
