<div class="card position-relative" style="width: 50%; border-radius: 10px; background-color: var(--post-bg);">
  <div class="card-header">
    <app-users></app-users>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <app-content></app-content> </li>
        
    </ul>
  </div>
  <div class="row">
    <div class="col-4"><app-like></app-like></div>
    <div class="col-4"><app-comment></app-comment></div>
    <div class="col-4"><app-share></app-share></div>  
  </div> 
</div>

