section {
  width: 80%;
  margin: auto;
}

#description {
  width: 90%;
  padding: 1rem;
  font-size: 1.5rem;
  border-bottom: 1px solid teal;
  margin: auto auto 1rem;
  text-align: center;
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
