*{
    margin:0;
    padding:0;
    width: 100%;
    box-sizing: border-box;
}
body{
    width:100%;
    height:100%;
}
.container{
    display: grid;
    grid-template-areas: 
    'header'
    'content'
    'footer';
    grid-template-rows: 50px 1fr 50px;
}
.header{
    grid-area: header;
}
form{
    display: flex;
    flex-direction: column;
    height:100vh;
    grid-area: content;
    padding:5% 20%;
}
.form-row{
    display: flex;
    margin-bottom: 2%;
    flex:1;
}
.form-row:nth-child(1){
    text-align: center;
    align-items: flex-end;
}
.form-row input{
    padding: 1% 3%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 2%;
}
.form-row button{
    font-size: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right:1%;
    margin-bottom:2%;
    flex:1;
    background-color: lightskyblue;
    color: white;
}
.form-row-checkbox input{
    height: 20%;
    width:20%;
    display: flex;
}
.form-row-checkbox{
    display: flex;
    align-items: center;
    flex:1;
}
.form-row-policy{
    display: flex;
    align-items: center;
    flex:2;
}
.form-row-policy span{
    display: inline-block;
    text-align: center;
    width: 80px;
    color:white;
    line-height: normal;
    background-color: lightblue;
}
.footer{
    grid-area: footer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container{
        grid-template-rows: 2px 1fr 2px;
    }
    form{
        padding:20% 10%;
    }
    .form-row{
        display: flex;
        margin-bottom: 2%;
        flex:1;
    }
    .form-row-policy{
        font-size:3vw;
    }
}
@media screen and (max-width: 320px){
    .container{
        grid-template-rows: 2px 1fr 2px;
    }
    form{
        padding:20% 5%;
    }
    .form-row-policy{
        font-size:4vw;
    }
}
