* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Arial", sans-serif;
}
header {
	overflow: hidden;
	height: 52.8px;
}
.height-placeholder {
	height: 52.8px;
}

p {
	line-height: 1.4;
}
.navbar {
	background-color: #000;	
	position: fixed;
	width: 100%;
	height: 3.3em;
	z-index: 1;
	overflow: hidden;
}
.navbar ul {
	line-height: 52.8px;
	position: relative;
	left: 11%;
	overflow: hidden;
}
.navbar li {
	color: #c6bfbf;
	float: left;
	list-style: none;
	padding-right: 20px;
}
.navbar a {
	text-decoration: none;
	color: #c6bfbf;
}
.top {
	display: block;
	background-color: #c6bfbf;
	overflow: hidden;

}
.common-container {
	width: 82%;
	overflow: hidden;
	padding: 1.9em 0;
	margin: 0 auto;
}
h1.headline {
	font-size: 1.8em;
}
p.summary {
	padding-top: 0.5em;

}
.bottom {
	padding-top: 38px;
	padding-bottom: 90.8px;
}
.bottom .common-container {
	margin: 0 auto;
}


.content-container {
	width: 33.33%;
	float: left;
	padding:2.2em 2.2em;
}
.footer-container a {
	text-decoration: none;
	color: #c6bfbf;
}
.footer-container {
	background-color: #0b4d14;	
	position: fixed;
	width: 100%;
	height: 3.3em;
	z-index: 1;
	bottom: 0;
	overflow: hidden;
}
.left-item {
	line-height: 52.8px;
	float: left;
	position: relative;
	left: 9%;

}
.left-item li {
	color: #c6bfbf;
	float: left;
	list-style: none;
	margin-right: 20px;

}
.right-item {
	line-height: 52.8px;
	float: right;
	position: relative;
	right: 9%;
}
.right-item li {
	color: #c6bfbf;
	float: left;
	list-style: none;
	margin-left: 20px;
}
.icon {
	width:100%;
	text-align: center;
	font-size: 9em;
	padding-bottom: 30px;
}
@media only screen and (max-width: 600px) {
	h1.headline {
		font-size: 1.4em;
		text-align: center;
	}
	p.summary {
		display: none;
		height: 100px
	}
	.footer-container {
		display: none;
	}

}
@media only screen and (max-width: 992px) {
	.content-container {
		width: 100%;
	}
	.footer-container li {
		margin: 0 20px 0 0;
	} 
}

