*{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0;
}

body{
    height: 100%;
}

.header_nav{
    background-color: black;
    float: left;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.header_nav ul {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-left: 190px;
}

.header_nav li {
    float: left;
    margin-right: 10px;
}

.header_nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}

.content {
    position: absolute;
    margin-top: 50px;
    overflow: auto;
}

.content_header{
    background-color: #c6bfbf;
    width: 100%;
}
 h1{
     padding: 50px 180px 0px 180px;
 }
.header_m {
     padding: 20px 180px 20px 180px;
 }
 .content_body {
     display: flex;
     padding: 5px 180px 0px 180px;
 }
 .content_body > p {
     padding-right: 40px;
     
 }.content_body > p::before{
     content:">>";
     border-radius: 1ch;
     padding-inline: 1ch;
     margin-inline-end: 1ch;
 }







.footer_nav{
    background-color:#0b4d14;
    float: left;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;

}


.footer_left {
    float: left;
    list-style: none;
    overflow: hidden;
    margin-left: 120px;
}

.footer_right {
    position: absolute;
    right: 0;
    list-style: none;
    overflow: hidden;
    margin-right: 120px;
}

.footer_left li {
    float: left;
    margin-right: 10px;
    display: inline;
}

.footer_right li {
    display: inline;
    float: right;
    margin-right: 10px; 
}

.footer_left li a, .footer_right li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
}


