.container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container_header{
  background-color: teal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input{
  border-radius: 100px;
  padding: .4rem .7rem;
  width: 30%;
  outline:none;
}

.submit_btn{
  width: 40px;
  height: 16px;
  border: none;
  background-color: white;
  position: relative;
  left: -50px;
  outline:none;
}

.fas {
  border: none;
  outline:none;
  color: gray;
}

.main_container {
  position: relative;
  width: 100%;
}

.search_results{
  position: relative;
  margin: auto;
  padding: 1rem;
}

.search_result_title{
  text-align: center;
  border-bottom: 1px solid teal;
  width: 90%;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  margin: auto auto 1rem;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card {
  margin: 1rem;
  height: 16rem;
  width: 8rem;
  border: 1px solid rgb(196, 212, 212);
  padding: 0 .5rem;
}

.card_img{
  position: relative;
  text-align: center;
  max-width: 100%;
  max-height: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.album_name,
.artist_name{
  font-size: 14px;
  padding-top: .2rem;
  margin: 0;
}

.album_name{
  color: gray;
}
.like_btn{
  width: 50%;
  border: none;
  background-color: none;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  position: relative;
}

.dislike_btn{
  width: 50%;
  border: none;
  background-color: none;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  position: relative;
}  