<div class="container">

  <header class="container_header">
    <form class="form">
      <input type="text" placeholder="Search" class="input" (keyup.enter)="getAlbums()" name="input" [(ngModel)]="input" >
      <button (click)="getAlbums()" class="submit_btn"><i class="fas fa-search"></i></button>
    </form>
  </header>

  <div class="main_container">
    <div class="search_results">
      <p class="search_result_title">Search Albums by Artist Name:</p>
      <div *ngFor="let album of albums" class="results">
        <div class="card">
           <p class="artist_name">{{album.artistName}}</p>
          <p class="album_name">{{album.collectionName}}</p>
          <img src="{{album.artworkUrl100}}" alt="albumImg" class="card_img">
          <button class="like_btn">Like</button>
          <button class="dislike_btn">Dislike</button>
         </div>
      </div>
    </div>
  </div>

</div>