


.form_container{
  background-color: teal;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.artist_input{
  border: none;
  border-radius: 100px;
  padding: .4rem .7rem;
  width: 30%;
  outline:none;
}

.submit_btn{
  width: 40px;
  height: 16px;
  border: none;
  background-color: white;
  position: relative;
  left: -50px;
  outline:none;
}