* {
  margin: 0;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.89);
  color: #1d1d1f;
  font-style: normal;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main__container {
}
.main__articles {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main__title {
  text-align: center;
  transition: 0.3s;
}
.article {
  margin: 10px;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.article__ul {
  margin: 5px 10px;
  height: 220px;
  width: 350px;
}
.article__li {
  line-height: 1.2;
}
.article__li--category {
  padding: 10px 0;
}
.article__li--category,
.article__li--readmore a {
  font-size: 12px;
}
.article__li--category a {
  font-weight: 700;
  color: teal;
}
.article__li--heading {
  color: rgb(15, 15, 15);
}
.article__li--time {
  font-size: 11px;
  color: gray;
  padding-bottom: 3px;
}
.article__li--description {
  font-size: 13px;
}
.article__li--readmore {
  padding-top: 15px;
}
.nav {
  width: 100%;
  height: 44px;
  position: absolute;
}
.nav__ul {
  margin: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__ul a {
  font-weight: 400;
  font-size: 14px;
  color: rgb(37, 37, 37);
}

footer p {
  bottom: 0px;
  text-align: center;
  padding: 8px 0;
  font-size: 12px;
  color: rgb(37, 37, 37);
}
footer {
  bottom: 0;
  position: relative;
  width: 100%;
}

@media (min-width: 400px) {
  .main__articles {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    justify-content: space-around;
  }
  .main__row {
    display: flex;
    flex-direction: column;
  }
}
