.form-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

p {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    margin: 6px auto;
}

.form-control {
    border-radius: 5px;
    border: 2px solid whitesmoke;
    text-indent: 1rem;
    font-size: 1rem;
}

.col-6 {
    width: 46%;
}

.col-12 {
    width: 100%;
}

::placeholder {
    color: grey;
}

.form-control:focus {
    outline: none;
    border: 1px solid lightskyblue;
    box-shadow: 0 0 5px lightskyblue;
}

.cbox-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 6px auto;
    font-size: 0.9rem;
}

.cbox-container label {
    font-weight: bold;
    width: 20%;
    margin: auto;
}

.cbox-container span {
    width: 75%;
    margin: auto;
}

.cbox-container b {
    display: inline-block;
    background-color: #428BCA;
    color: white;
    width: 15%;
    border-radius: 3px;
    font-size: 0.5rem;
    text-align: center;
}

.cbox-container a {
    color: #428BCA;
    text-decoration: none;
}

.btn-container button {
    width: 45%;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}

#register {
    background-color: #428BCA;
}

#sign-in {
    background-color: #5CB85C;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    :root {
        font-size: 2.5vw;
    }
    
    .form-container {
        width: 84vw;
        margin: 7vw auto;
    }

    .line {
        flex-wrap: wrap;
        height: auto;
        margin: auto;
    }

    .form-control {
        width: 100%;
        height: 8vw;
        margin: 1vw auto;
    }

    .cbox-container {
        flex-wrap: wrap;
        margin: 1vw auto;
    }

    .cbox-container label {
        width: 100%;
        text-align: center;
    }
    
    .cbox-container span {
        width: 100%;
    }

    .btn-container button {
        width: 75%;
        height: 8vw;
        margin: 1vw auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .form-container {
        width: 480px;
        margin: 40px auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .form-container {
        width: 480px;
        margin: 40px auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .form-container {
        width: 600px;
        margin: 50px auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .form-container {
        width: 600px;
        margin: 50px auto;
    }
}
